{
	"singleQuote": true,
	"trailingComma": "none",
	"semi": false,
	"overrides": [{
			"files": "*.html",
			"options": {
				"parser": "html"
			}
		},
		{
			"files": "*.vue",
			"options": {
				"parser": "vue"
			}
		}
	]
}
