# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules/

# dotenv environment variables file
.env

# It will be created every time when "npm run build"
public/

# Docker volumes
data/
